<% layout('layout') -%>
<h2>Tweet/Feed/Read</h2>
<% if (!user) { %>
    <a href="/auth/twitter"><img src="sign-in-with-twitter-l.png" alt="login with twitter"></a>
<% } else { %>
    <p>
        <a href="/rss/<%= user.id %>" target="_blank">Public Feed</a> |
        <a href="/auth/logout">Logout (<%= user.screenname %>)</a>
    </p>
<% } %>